#logo img {
  float: left;
}

#logo {
  float: left;
  padding-bottom: 25px;
  color: black;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  padding-right: 2px;
}


aside img {
  float: left;
}

aside button {
  float: right;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  padding: 15px 40px;
  background: #b8705a;
  color: #fff;
  font-size: 1.2em;
  border: none;
}
nav {
  margin-top: 25px;
}

input {
  font-family: 'Patrick Hand', cursive;
}